.vip-bordered
{
    position: relative;
    width: 100%;
    margin: 0 auto;
    border: 10px solid;
    background: rgba(10,12,17,.65) !important;
    border-image-slice: 10 10 10 10;
    border-image-width: 10px 10px 10px 10px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-source: url(https://darktown.itam.store/_nuxt/img/5d2429c.png);
}
.ribbon
{
    position: absolute;
    left: 50%;
    top: -40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    width: 50%;
    max-width: 357px;
    height: 71px;
    line-height: 45px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #0f0402 !important;
    background: url(https://darktown.itam.store/_nuxt/img/49295ca.png) no-repeat 50%;
    background-size: 100% 100%;
}
.ultra-bordered
{
    border: 1px solid;
    border-image-slice: 15 15 15 15;
    border-image-width: 15px 15px 15px 15px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-source: url(https://darktown.itam.store/_nuxt/img/e203c29.png);
    background: transparent !important;
}
.normal-bordered
{
    position: relative;
    padding: 0px !important;
    box-shadow: 0 0 2px 3px #6e6e6e;
    background: url(https://darktown.itam.store/_nuxt/img/40efc00.png);
}
.normal-bordered .corner
{
    position: absolute;
    width: 21px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.normal-bordered .corner-top-left
{
    top: -6px;
    left: -7px;
    background-image: url(https://darktown.itam.store/_nuxt/img/fba4663.png);
}
.normal-bordered .corner-top-right
{
    top: -6px;
    right: -7px;
    background-image: url(https://darktown.itam.store/_nuxt/img/0fd4927.png);
}
.normal-bordered .corner-bottom-right
{
    bottom: -6px;
    right: -7px;
    background-image: url(https://darktown.itam.store/_nuxt/img/a02aee1.png);
}
.normal-bordered .corner-bottom-left
{
    bottom: -6px;
    left: -7px;
    background-image: url(https://darktown.itam.store/_nuxt/img/745fb6b.png);
}
.text-gold
{
    color: #cd8e2c
}
.text-gold-2
{
    color:#999184;
}
.swal2-popup{
    background-color: #12141f !important;
}
.swal2-styled.swal2-confirm
{
    background: #2d2d2d !important;
}
#swal2-content
{
    color: #9de0f6 !important;
}
.swal2-styled:focus
{
    box-shadow: none !important;
}
tr:hover
{
    cursor: pointer;
}
img:hover
{
    cursor: pointer;
}