.vip-bordered
{
    position: relative;
    margin: 0 auto;
    border: 10px solid;
    background: rgba(10,12,17,.65) !important;
    border-image-slice: 10 10 10 10;
    border-image-width: 10px 10px 10px 10px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-source: url(../images/vip-border.png);
}
.ribbon
{
    position: absolute;
    left: 50%;
    top: -40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    width: 50%;
    max-width: 357px;
    height: 71px;
    line-height: 45px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #0f0402 !important;
    background: url(../images/frame.png) no-repeat 50%;
    background-size: 100% 100%;
}
.ultra-bordered
{
    border: 1px solid;
    border-image-slice: 15 15 15 15;
    border-image-width: 15px 15px 15px 15px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-source: url(../images/ultra-bordered.png);
    background: transparent !important;
}
.normal-bordered
{
    position: relative;
    padding: 0px !important;
    box-shadow: 0 0 2px 3px #6e6e6e;
    background: url(../images/normal-bordered-background.png);
}
.normal-bordered .corner
{
    position: absolute;
    width: 21px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.normal-bordered .corner-top-left
{
    top: -6px;
    left: -7px;
    background-image: url(../images/bottom-right-bordered-corner.png);
}
.normal-bordered .corner-top-right
{
    top: -6px;
    right: -7px;
    background-image: url(../images/bottom-right-bordered-corner.png);
}
.normal-bordered .corner-bottom-right
{
    bottom: -6px;
    right: -7px;
    background-image: url(../images/top-left-bordered-corner.png);
}
.normal-bordered .corner-bottom-left
{
    bottom: -6px;
    left: -7px;
    background-image: url(../images/top-right-bordered-corner.png);
}
.text-gold
{
    color: #cd8e2c
}
a:hover
{
    color: #cd8e2c !important;
}
.text-gold-2
{
    color:#999184;
}
.swal2-popup{
    background-color: #12141f !important;
}
.swal2-styled.swal2-confirm
{
    background: #2d2d2d !important;
}
#swal2-content
{
    color: #9de0f6 !important;
}
.swal2-styled:focus
{
    box-shadow: none !important;
}
tr:hover
{
    cursor: pointer;
}
img:hover
{
    cursor: pointer;
}
.vip-1
{
    background:url('../images/vip-1.gif');
    background-position: center;
    background-size: cover;
}
.vip-2
{
    background:url('../images/vip-2.gif');
    background-position: center;
    background-size: cover;
}
.not-allow
{
    
}
.not-allow:hover
{
    cursor: not-allowed;
}
.text-silver
{
    color: #9e9e9e;
}
.text-purple
{
    color:#9b44bf;
}
.hoverable:hover
{
    cursor: pointer;
}