.profile-badge {
    background: #3d3424;
    box-shadow: 6px 6px rgb(0, 0, 0, .6);
    flex-wrap: initial;
    border-radius: 3px;
}

.shop-icon-badge {
    background: #261e15;
    border-radius: 3px;
}

.icon-badge {
    top: -15px;
    position: relative;
}

.icon-badge img {
    top: -1px;
    position: relative;
}

.bg-dark {
    background: #291410 !important;
}

.footer-icon {
    width: 60px;
    height: 60px;
    object-fit: contain
}

.navbar {
    padding: .75rem 0rem;
}

.modal-ui .modal-text {
    color: #edead6;
    font-family: 'Time News Roman' !important;
    font-size: 20px;
}

.modal-ui .modal-content {
    background-color: rgb(119, 127, 131, .9) !important;
}

.modal-ui .modal-header {
    background: #473e2e;
    border: 1px solid #6c5922;
    border-top: 4px solid #5b4835;
    background: linear-gradient(0deg, #3d3524 50%, #473e2e 50%);
}

.modal-ui .modal-body {
    border-left: 5px solid #343521;
    padding: 0px;
    border-right: 5px solid #343521;
}

.modal-ui .modal-body .modal-body-content {
    background: #dec999;
    margin: 5px;
    position: relative;
}

.modal-ui .modal-body-content .modal-inside {
    background: #554334;
    margin: 10px;
    position: relative;
}

.modal-ui .modal-footer {
    border-bottom: 4px solid #5b4835;
    padding: 7px;
    background: linear-gradient(0deg, #3d3524 50%, #473e2e 50%);
}

.modal-ui .modal-border-top-left {
    top: 0;
    left: 0;
    position: absolute;
    width: 20px;
    z-index: 9;
    margin: 3px;
}

.modal-ui .modal-border-top-right {
    top: 0;
    right: 0;
    position: absolute;
    width: 20px;
    transform: scaleX(-1);
    z-index: 9;
    margin: 3px;
}

.modal-ui .modal-border-bottom-left {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 20px;
    z-index: 9;
    transform: rotate(-90deg);
    margin: 3px;
}

.modal-ui .modal-border-bottom-right {
    bottom: 0;
    right: 0;
    position: absolute;
    transform: rotate(180deg);
    z-index: 9;
    width: 20px;
    margin: 3px;
}

.modal-ui .item-preview {
    background: #514a38;
    position: relative;
    border: 2px solid #898167;
}

.modal-ui .item-preview .footer {
    background: #2f2d21;
    padding: 10px;
}

.normal-badge {
    position: relative;
    top: -10px;
    margin-bottom: 15px;
}

.normal-badge img {
    width: 80px;
    height: 30px;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
}

.normal-badge span {
    text-align: center;
    display: block;
    position: relative;
    top: 4px;
}

.stats-preview {
    background: #333521;
    padding: 10px;
    color: #fff;
    border: 2px solid #bcab81;
    position: relative;
}

.stats-preview .item {
    border-bottom: 2px solid #4f4131;
    padding-bottom: 6px;
}

.item-description {
    background: #ddcb99;
    height: 145px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.pixel-btn {
    color: white;
    height: auto;
    font-family: 'VT323';
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pixel-btn {
    position: relative;
    display: block;
    font-family: 'VT323';
    color: white;
    box-shadow: 3px 1px 3px 0px rgb(0, 0, 0, .3);
}

.pixel-btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: black;
    z-index: -1;
}

.pixel-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -7px;
    right: -7px;
    background: black;
    z-index: -1;
}

.pixel-btn {
    padding: 10px 10px;
    position: relative;
    background: black;
    width: auto;
    z-index: 2;
}

.btn-green {
    background: #a9dd55 !important;
    text-shadow: 1px 1px rgb(0, 0, 0, .3);
}

.btn-green:before {
    background: #a9dd55 !important;
}

.btn-green:after {
    background: #a9dd55 !important;
}

.btn-red {
    background: #fe7e4d !important;
    text-shadow: 1px 1px rgb(0, 0, 0, .3);
}

.btn-red:before {
    background: #fe7e4d !important;
}

.btn-red:after {
    background: #fe7e4d !important;
}

.btn-yellow {
    background: #fbb550 !important;
    text-shadow: 1px 1px rgb(0, 0, 0, .3);
}

.btn-yellow:before {
    background: #fbb550 !important;
}

.btn-yellow:after {
    background: #fbb550 !important;
}

.btn-brown {
    background: #726753 !important;
    text-shadow: 1px 1px rgb(0, 0, 0, .3);
}

.btn-brown:before {
    background: #726753 !important;
}

.btn-brown:after {
    background: #726753 !important;
}

.btn-dark {
    background: #2f2d21 !important;
    text-shadow: 1px 1px rgb(0, 0, 0, .3);
}

.btn-dark:before {
    background: #2f2d21 !important;
}

.btn-dark:after {
    background: #2f2d21 !important;
}

.modal-ui .b-b {
    border: 0px !important;
}

.modal-ui .nav-item:nth-child(1) {
    margin-left: 15px;
}
.modal-ui .nav-item {
    background: #d2c29b;
    margin-right: 7px;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    box-shadow: 3px 0px 0px 0px rgb(0, 0, 0, .3);
}

.modal-ui .nav-link {
    padding: 10px 20px !important;
    color: #53493b;
}
.modal-ui .nav-link:hover {
    color: #53493b !important;
}


.modal-ui .nav-item .active {
    background-color: #f3efd9;
    border-bottom: 0px !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.modal-ui .nav-item .active:before {
    border: 0px !important;
}

.modal-ui .nav-item a:hover {
    color: #53493b !important;
}

#SvgjsSvg1089 {
    background-color: transparent !important;
}

.loading-in-component {
    position: absolute;
    top: 50%;
    z-index: 9999;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0, .8);
}

.loading-in-component .loading-component {
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal-ui .p-2 {
    padding: 0px .7rem !important;
}

.ui-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.spotlight-item {
    background-color: #524a38;
    background-image: url(../images/icon/Spotlight-Yellow.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: exclusion;
    background-position: top;
}

.softlight-item {
    background-color: #524a38;
    background-image: url(../images/icon/Soft-Light.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: exclusion;
    background-position: top;
}

@media (min-width: 568px) {
    .col-ui {
        flex: 0 0 25%;
        max-width: calc(25% - 6px);
        margin: 3px;
    }
    .list-item-responsive {
        height: 68vh;
        overflow: auto;
    }
}

@media (max-width: 767px) {
    .list-item-responsive {
        height: 20vh;
        overflow: auto;
    }
}

@media (max-width: 441px) {
    .modal-ui .nav-link {
        padding: 10px 15px !important;
    }
}

@media (max-width: 568px) {
    .col-ui {
        flex: 0 0 50%;
        max-width: calc(50% - 6px);
        margin: 3px;
    }
}

@media (max-width: 991px) {
    .col-ui-divide {
        flex: 0 0 50%;
        max-width: calc(50% - 6px);
        margin: 3px;
    }
}

.modal-ui .close {
    opacity: 1 !important;
}

.modal-ui .tab-content {
    background: #f3efd9;
    padding: 10px;
}

.modal-ui .text-center-inside {
    text-align: center;
    display: block;
    margin: auto;
}

.modal-ui .fame-active{
    border: 2px solid #b9b717;
}

.modal-ui .shop-menu {
    background-color: #3d352a;
}

.modal-ui .shop-menu .nav-link {
    background: #746a56;
    color: #fff;
    border-radius: 0px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: inset 3px 3px #5a5242;
    width: 100%;
}

.modal-ui .shop-menu .active{
    background: #76bb55;
    box-shadow: inset 3px 3px #619e44;
}

.modal-ui .shop-menu .nav a:hover {
    color: #fff !important;
}

.modal-ui .nav-link-white:hover {
    color: #fff !important;
}

.modal-ui .special-item {
    border-width: 5px;
    border-style: solid;
    border-image: url(../images/icon/Special-Border.png) 25% round;
}

.shop-background {
    background-image: url(../images/icon/Shop-Background.png) !important; 
    background-size: contain !important;
}

.modal-xl {
    max-width: 90%;
    margin: 1.75rem auto;
}

#footer .dropdown-menu {
    background-color: rgb(42, 38, 39, .95) !important;
    border: 1px solid #222;
    padding: 0;
    width: 220px;
}

#footer .dropdown-item-header {
    background: #131212 !important;
    border-bottom: 2px solid #464039 !important;
    padding: 5px !important;
}

#footer .dropdown-menu .dropdown-item{
    border-bottom: 2px solid #464039;
    padding: 8px;
}

.baw {
    filter: grayscale(1);
}

.introjs-tooltip {
    background-color: #1a150d !important;
}

.introjs-button {
    text-shadow: none !important;
    border: 0px !important;
    background: #0a0a0a !important;
}

.introjs-arrow.left-bottom .introjs-arrow.left {
    border-right-color: #1a150d !important;
}

.introjs-arrow.right {
    border-left-color: #1a150d !important;
}

.introjs-arrow.top {
    border-bottom-color: #1a150d !important;
}

.introjs-arrow.button {
    border-top-color: #1a150d !important;
}

.introjs-helperLayer {
    background: #1a150d !important;
    z-index: 1 !important;
}

.introjs-helperNumberLayer {
    background: #1a150d !important;
    display: none !important;
}

.introjs-overlay {
    z-index: 3 !important;
}

.swal2-actions.swal2-loading .swal2-styled.swal2-confirm{
    padding: 0px !important;
}